<!--
 * @Author: wjy-mac
 * @Date: 2020-03-26 10:13:41
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-04-06 22:15:55
 * @Description: 物业服务
 -->
<div class="propertyservices-content">
  <div class="page-title-box">
    <app-imgtitle [title]="'wyfw'"></app-imgtitle>
  </div>
  <app-right-button [name]="'返回'" (isclick)="setBack()"></app-right-button>
  <div class="content-cd" [ngStyle.xs]="{'marginTop.px': 100}">
    <p>成都中达投资有限公司成立于2010年，由成都丰德企业发展（集团）有限公司、中国成达工程有限公司共同出资组建而成，注册资金人民币捌仟万元。</p>
    <p>丰德集团的前身是成都青年房地产开发公司，30年来，立足成都，为成都市场奉献了丰德国际广场、丰德万瑞中心、金沙万瑞中心、丰德羊西中心等高品质商务空间。</p>
    <p>中国成达工程有限公司是中国化学工程集团公司下属子公司，创立于20世纪50年代，公司拥有雄厚的资金实力和丰富的投资经验。</p>
    <p>“丰德成达中心”项目为成都中达投资有限公司在青羊区打造的高端商务综合体，是成都市重点项目及青羊区重点项目。</p>

    <p>丰德成达中心位于成都市青羊区鼓楼南街99号，西临成都市区主干道顺城大街，东临鼓楼南街，北侧为世贸中心大厦，南侧为原成达公司职工住宅。</p>
    <p>预计竣工时间为2019年6月。用地面积约1.18万平方米，建筑总面积为17.20万平方米，由4层地下室，1栋综合楼及1栋住宅组成。住宅地上总层数6层，综合楼地上总层数47层，其中1-5层为商业用房，6-47层为甲级写字楼。地下4层，含停车位749个，电梯31部。办公楼可租售面积为99515.18㎡，商业可租售面积为16660.67㎡。</p>
    <p>产权方为成都中达投资有限公司，物业公司现为成都利丰物业有限公司，目前项目在建设中，尚未对外招商及出售。</p>
    <div class="three-box" [ngStyle.xs]="{'width.%': 90}">
      <app-viewer></app-viewer>
    </div>

  </div>
</div>