<!--
 * @Author: wjy-mac
 * @Date: 2020-04-02 10:32:31
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-04-02 11:42:23
 * @Description: file content
 -->
<div class="scenery">
  <div class="page-title-box">
    <app-imgtitle [title]="'ptjg'"></app-imgtitle>
  </div>
  <app-right-button [name]="'返回'"></app-right-button>
  <img src="../../../assets/jg/1.png" alt="" srcset="">
  <img src="../../../assets/jg/2.png" alt="" srcset="">
  <img src="../../../assets/jg/4.png" alt="" srcset="">
  <img src="../../../assets/jg/5.png" alt="" srcset="">
  <img src="../../../assets/jg/6.png" alt="" srcset="">
  <img src="../../../assets/jg/7.png" alt="" srcset="">
  <img src="../../../assets/jg/8.png" alt="" srcset="">
  <img src="../../../assets/jg/9.png" alt="" srcset="">
  <img src="../../../assets/jg/10.png" alt="" srcset="">
  <img src="../../../assets/jg/11.png" alt="" srcset="">
  <img src="../../../assets/jg/12.png" alt="" srcset="">
  <img src="../../../assets/jg/13.png" alt="" srcset="">
  <img src="../../../assets/jg/14.png" alt="" srcset="">
  <img src="../../../assets/jg/16.png" alt="" srcset="">
  <img src="../../../assets/jg/17.png" alt="" srcset="">
  <img src="../../../assets/jg/18.png" alt="" srcset="">
  <img src="../../../assets/jg/19.png" alt="" srcset="">
  <img src="../../../assets/jg/20.png" alt="" srcset="">
  <img src="../../../assets/jg/22.png" alt="" srcset="">
  <img src="../../../assets/jg/23.png" alt="" srcset="">
  <img src="../../../assets/jg/24.png" alt="" srcset="">
  <img src="../../../assets/jg/25.png" alt="" srcset="">
  <img src="../../../assets/jg/26.png" alt="" srcset="">
  <img src="../../../assets/jg/28.png" alt="" srcset="">
  <img src="../../../assets/jg/30.png" alt="" srcset="">
  <img src="../../../assets/jg/32.png" alt="" srcset="">
  <img src="../../../assets/jg/33.png" alt="" srcset="">
  <img src="../../../assets/jg/34.png" alt="" srcset="">
  <img src="../../../assets/jg/35.png" alt="" srcset="">
  <img src="../../../assets/jg/36.png" alt="" srcset="">
  <img src="../../../assets/jg/37.png" alt="" srcset="">
  <img src="../../../assets/jg/38.png" alt="" srcset="">
  <img src="../../../assets/jg/33.png" alt="" srcset="">
  <img src="../../../assets/jg/40.png" alt="" srcset="">
  <img src="../../../assets/jg/42.png" alt="" srcset="">
  <img src="../../../assets/jg/43.png" alt="" srcset="">
  <img src="../../../assets/jg/45.png" alt="" srcset="">
  <img src="../../../assets/jg/47.png" alt="" srcset="">
  <img src="../../../assets/jg/48.png" alt="" srcset="">
  <img src="../../../assets/jg/50.png" alt="" srcset="">
  <img src="../../../assets/jg/51.png" alt="" srcset="">
  <img src="../../../assets/jg/52.png" alt="" srcset="">
  <img src="../../../assets/jg/53.png" alt="" srcset="">
  <img src="../../../assets/jg/54.png" alt="" srcset="">
  <img src="../../../assets/jg/55.png" alt="" srcset="">
  <img src="../../../assets/jg/56.png" alt="" srcset="">
  <img src="../../../assets/jg/57.png" alt="" srcset="">
  <img src="../../../assets/jg/58.png" alt="" srcset="">
  <img src="../../../assets/jg/59.png" alt="" srcset="">
  <img src="../../../assets/jg/60.png" alt="" srcset="">
  <img src="../../../assets/jg/61.png" alt="" srcset="">
  <img src="../../../assets/jg/62.png" alt="" srcset="">
  <img src="../../../assets/jg/63.png" alt="" srcset="">
  <img src="../../../assets/jg/64.png" alt="" srcset="">
  <img src="../../../assets/jg/65.png" alt="" srcset="">
  <img src="../../../assets/jg/66.png" alt="" srcset="">
  <img src="../../../assets/jg/69.png" alt="" srcset="">
  <img src="../../../assets/jg/70.png" alt="" srcset="">
  <img src="../../../assets/jg/71.png" alt="" srcset="">
  <img src="../../../assets/jg/72.png" alt="" srcset="">
  <img src="../../../assets/jg/73.png" alt="" srcset="">
</div>