.video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .page-title-box {
    margin-top: .3rem;
    margin-left: .3rem;
    position: relative;
    z-index: 2;
  }
  .video {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1;
  }
}