.login-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  .login-content {
    background-color: #fff;
    position: relative;
    width: 55%;
    svg {
      position: absolute;
      top: .2rem;
      right: .2rem;
    }
  }
  .login {
    width: 100%;
    background-color: #fff;
    padding: .5rem;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  .login h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: .4rem;
    letter-spacing: 3px;
    text-align: center;
  }
  
  .login form {
    // max-width: 420px;
    // margin: 30px auto;
    margin-top: 30px;
  }
  
  .login .btn {
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 14px;
    background-color: #00B72E;
    width: 100%;
    color: #fff;
  }
  
  .form-group input {
    font-size: 20px;
    height: calc(.25rem + 2px);
    font-weight: lighter;
    border: none;
    background-color: #F0F0F0;
    color: #465347!important;
    padding: 26px 30px;
    border-radius: 50px;
    transition : 0.2s;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .form-check {
    // font-size: .1rem;
    // color: #4a4242;
    padding: 0;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    label {
      vertical-align: top;
      padding-left: 5px;
      color: #606060;
      font-size: 14px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 54px;
      height: 24px;
      padding-top: 5px;
      input {
        display: none;
      }
      input:checked + .slider {
        background-color: #00B72E;
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F0F0F0;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 30px;
        &::before {
          position: absolute;
          content: "";
          height: 22px;
          width: 22px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
        }
      }
    }
  }
}