$width: 70px;
button {
  right: 30px;
  top: 40px;
  background-color: #3a3a3a;
  color: #fff;
  font-size: 15px;
  width: $width;
  height: $width * 0.54;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 170%;
    right: 0;
    top: -35%;
    background-color: #3a3a3a;
  }
}