.page-title-box {
  position: absolute;
  top: .3rem;
  left: .3rem;
  width: calc(100% - .3rem);
}
.aboutcd-content {
  font-size: 0.1rem;
  color: #484747;
  line-height: 45px;
  position: relative;
  padding-top: 1px;
  p {
    text-indent: 2em;
  }
  .content-cd {
    margin-top: .7rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .title {
    font-size: .13rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
  }
  img {
    width: 100%;
    margin-top: 10px;
  }
}