<!--
 * @Author: wjy-mac
 * @Date: 2020-03-23 12:03:12
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-03-23 23:56:44
 * @Description: file content
 -->
<div class="page-content">
  <div class="content-box">
    <router-outlet></router-outlet>
  </div>
  <nav fxHide.xs="true">
    <img src="../assets/bjimg/zlxt_index_02.png" alt="" srcset="">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <img src="../assets/navimg/nav_1.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home1" routerLinkActive="active">
          <img src="../assets/navimg/nav_1.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home2" routerLinkActive="active">
          <img src="../assets/navimg/nav_1.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home3" routerLinkActive="active">
          <img src="../assets/navimg/nav_1.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home4" routerLinkActive="active">
          <img src="../assets/navimg/nav_1.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home5" routerLinkActive="active">
          <img src="../assets/navimg/nav_1.png" alt="" srcset="">
        </a>
      </li>
    </ul>
  </nav>
</div>