<!--
 * @Author: wjy-mac
 * @Date: 2020-03-23 12:03:12
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-03-23 16:37:30
 * @Description: file content
 -->
<div class="page-content">
  <div class="content-box">
    <router-outlet></router-outlet>
  </div>
  <nav fxHide.xs="true">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">企业品牌</a></li>
      <li><a routerLink="/home1" routerLinkActive="active">地理区位</a></li>
      <li><a routerLink="/home2" routerLinkActive="active">项目介绍</a></li>
      <li><a routerLink="/home3" routerLinkActive="active">配套服务</a></li>
      <li><a routerLink="/home4" routerLinkActive="active">项目影片</a></li>
      <li><a routerLink="/home5" routerLinkActive="active">租赁服务</a></li>
    </ul>
  </nav>
</div>