<!--
 * @Author: wjy-mac
 * @Date: 2020-03-23 12:03:12
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-03-24 17:39:22
 * @Description: file content
 -->
<div class="page-content">
  <div class="content-box">
    <router-outlet></router-outlet>
  </div>
  <nav fxHide.xs="true">
    <img src="../assets/bjimg/zlxt_index_02.png" alt="" srcset="">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active" #rla="routerLinkActive">
          <img src="../assets/navimg/nav_1{{rla.isActive ? '_active' : ''}}.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a [routerLink]="['/about', '1']" routerLinkActive="active" #rla2="routerLinkActive">
          <img src="../assets/navimg/nav_2{{rla2.isActive ? '_active' : ''}}.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a [routerLink]="['/about', '2']" routerLinkActive="active" #rla3="routerLinkActive">
          <img src="../assets/navimg/nav_3{{rla3.isActive ? '_active' : ''}}.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home3" routerLinkActive="active" #rla4="routerLinkActive">
          <img src="../assets/navimg/nav_4{{rla4.isActive ? '_active' : ''}}.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home4" routerLinkActive="active" #rla5="routerLinkActive">
          <img src="../assets/navimg/nav_5{{rla5.isActive ? '_active' : ''}}.png" alt="" srcset="">
        </a>
      </li>
      <li>
        <a routerLink="/home5" routerLinkActive="active" #rla6="routerLinkActive">
          <img src="../assets/navimg/nav_6{{rla6.isActive ? '_active' : ''}}.png" alt="" srcset="">
        </a>
      </li>
    </ul>
  </nav>
</div>