@mixin bgcolor($font, $height, $width) {
  background-image: linear-gradient(#eabe8e, #84844e, #000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 2;
  line-height: $height;
  font-size: $font;
  font-weight: $width;

}

@mixin bgcoloryy($font, $height, $width) {
  color: rgba(255,255,255,.6);
  line-height: $height;
  margin-top: -$height;
  position: relative;
  z-index: 1;
  font-size: $font + 0.001rem;
  font-weight: $width + 200;

}