<!--
 * @Author: wjy-mac
 * @Date: 2020-03-26 10:13:08
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-04-06 22:16:46
 * @Description: file content
 -->
<div class="list-content">
  <div class="img-content"
  [ngStyle.xs]="{'flexDirection': 'column', 'justifyContent': 'center', 'alignItems': 'center;'}"
  >
    <div class="item"
    [ngStyle.lg]="{'width.%': 29}"
    [ngStyle.md]="{'width.%': 33}"
    [ngStyle.sm]="{'width.%': 50, 'textAlign': 'center'}"
    [ngStyle.xs]="{'width.%': 70, 'marginBottom.px': 20}"
    >
      <div class="img-box" [ngStyle.sm]="{'width.%': 65, 'display': 'inline-block'}">
        <div (click)="openPage('/matching/propertyservices')">
          <img src="../../../assets/lsimg/js_03.png" alt="">
        </div>
      </div>
      <div class="name"
      [ngStyle.xs]="{'fontSize.px': 20, 'marginTop.px': 20}"
      [ngStyle.sm]="{'fontSize.px': 17, 'marginTop.px': 20}">物业服务</div>
      <div class="name1"
      [ngStyle.xs]="{'fontSize.px': 20}"
      [ngStyle.sm]="{'fontSize.px': 17.2}">物业服务</div>
    </div>
    <div class="item"
    [ngStyle.lg]="{'width.%': 29}"
    [ngStyle.md]="{'width.%': 33}"
    [ngStyle.sm]="{'width.%': 50, 'textAlign': 'center'}"
    [ngStyle.xs]="{'width.%': 70}"
    >
      <div class="img-box" [ngStyle.sm]="{'width.%': 65, 'display': 'inline-block'}">
        <div (click)="openPage('/matching/business')">
          <img src="../../../assets/lsimg/js_04.png" alt="">
        </div>
      </div>
      <div class="name"
      [ngStyle.xs]="{'fontSize.px': 20, 'marginTop.px': 20}"
      [ngStyle.sm]="{'fontSize.px': 17, 'marginTop.px': 20}">商业配套</div>
      <div class="name1"
      [ngStyle.xs]="{'fontSize.px': 20}"
      [ngStyle.sm]="{'fontSize.px': 17.2}">商业配套</div>
    </div>
  </div>
</div>