<!--
 * @Author: wjy-mac
 * @Date: 2020-03-26 10:13:08
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-03-26 10:26:36
 * @Description: file content
 -->
<div class="list-content">
  <div class="img-content">
    <div class="item">
      <div class="img-box">
        <div (click)="openPage('/matching/propertyservices')">
          <img src="../../../assets/lsimg/js_03.png" alt="">
        </div>
      </div>
      <div class="name">物业服务</div>
      <div class="name1">物业服务</div>
    </div>
    <div class="item">
      <div class="img-box">
        <div (click)="openPage('/matching/business')">
          <img src="../../../assets/lsimg/js_04.png" alt="">
        </div>
      </div>
      <div class="name">商业配套</div>
      <div class="name1">商业配套</div>
    </div>
  </div>
</div>