<!--
 * @Author: wjy-mac
 * @Date: 2020-03-25 00:16:19
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-03-25 11:44:07
 * @Description: file content
 -->
<div class="list-content">
  <div class="img-content">
    <div class="item">
      <div class="img-box">
        <div>
          <img src="../../../assets/lsimg/js_03.png" alt="">
        </div>
      </div>
      <div class="name">项目介绍</div>
      <div class="name1">项目介绍</div>
    </div>
    <div class="item">
      <div class="img-box">
        <div>
          <img src="../../../assets/lsimg/js_03.png" alt="">
        </div>
      </div>
      <div class="name">分区展示</div>
      <div class="name1">分区展示</div>
    </div>
    <div class="item">
      <div class="img-box">
        <div>
          <img src="../../../assets/lsimg/js_03.png" alt="">
        </div>
      </div>
      <div class="name">配套、景观</div>
      <div class="name1">配套、景观</div>
    </div>
  </div>
</div>