<div class="projectionContent">
  <div class="page-title-box">
    <app-imgtitle [title]="'xmjs'"></app-imgtitle>
  </div>
  <app-right-button [name]="'返回'"></app-right-button>
  <div class="projectionContentbox">
    <div class="item">
      <div class="box">
        <div class="title">多维交通 高效商务通勤</div>
        <p>FCC地处天府广场核心区域</p>
        <p>天府广场站-地铁1、2号线，双线快捷换乘</p>
        <p>紧邻骡马市-地铁1、4、10（规划）、18（规划）号线，实现TOD模式</p>
        <p>距成都国际双流机场车程约30分钟；地铁18号线直达新天府国际机场</p>
        <p>距成都北站车程约15分钟；距成都东站、南站车程约25分钟</p>
        <p>商务通勤快捷高效</p>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="title">五大商圈 繁华持续升级</div>
        <p>FCC屹立于天府广场，地处青羊区核心地带</p>
        <p>春熙路、盐市口、太古里、骡马市、太升路等五大繁华商圈环绕</p>
        <p>世界500强云集围绕；各金融机构总部落子之处</p>
        <p>众多商务、商业资源汇聚，高端人才荟萃</p>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="title">天府广场 210米商务新地标</div>
        <p>FCC屹立于天府广场</p>
        <p>以210米地级巨筑，刷新天府广场天际线</p>
        <p>于FCC，可以俯瞰整个成都中心</p>
        <p>西侧和南面视野开阔，身处CBD却可坐观开阔景观</p>
        <p>再造成都CBD区域国际商务新地标</p>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="title">铂金级尊荣 美国LEED最高等级认证</div>
        <p>《绿色建筑评估体系》
          （Leadership in Energy & Environment Design Building Rating System），
          简称LEED,由美国绿色建筑委员会评定，
          是目前世界上对建筑 、环保、绿色及可持续性评估标准中
          最完善、最有影响力的标准。</p>
        <p>FCC已经顺利获得LEED V4新建建筑铂金级预认证，
          成为四川省第一个获得LEED V4版本新建建筑铂金级预认证的项目；</p>
        <p>比肩上海上海环球金融中心和恒生银行大厦</p>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="title">全系高端配置 为行业塔尖量身定制</div>
        <p>10.8米挑高，建面积约1200m2 德系极简主义风格精装大堂。</p>
        <p>31部德国蒂森克虏伯高速电梯，智能派梯系统，6米/秒锋速保障高效畅达，

          另配置有VIP电梯，预留尊享空间。</p>
        <p>美国约克中央空调&新风系统，空气净化等级达到欧洲标准H11级。
          （≥0.5微米，净化率达到95%至99.9%）</p>
        <p>市政双电源供电，主电源与备用电源皆为13450KVA。</p>
        <p>配电箱柜采用国际品牌西门子原装或授权柜，确保供电系统稳定。</p>
        <p>智能安防系统，全楼一卡通体系，设备楼宇自控系统及IBMS系统等。</p>
        <p>每层部分户型内预留上下水点位，便于企业内部设置独立茶水间、卫生间，提升办公体验。
          超高交付标准：天花、地板、墙面带窗帘、地毯</p>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="title">利丰物业 全方位尊荣服务</div>
        <p>利丰物业，25年专业积淀，筑就行业典范。</p>
        <p>系国家物业管理一级资质企业，
          专业从事城市综合体、商务写字楼、政府机关办公楼、高档住宅等物业管理与服务。</p>
        <p>现为中国物业管理协会理事会单位、四川省房协物业管理专委会理事单位、
          成都市物业管理协会副会长单位。</p>
        <p>荣获成都首批“物业服务品牌企业”、成都市“十佳物业服务企业”，
          业主满意率达到90%以上。</p>
        <p>利丰物业为客户提供定制级的专属商务服务和信息供应，
          不定期组织圈层、跨界活动为用户提供更多发展、合作机会。</p>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="title">丰德&成达联袂巨献</div>
        <div class="small-title">丰德&成达 </div>
        <div class="small-title">联袂巨作，献礼成都</div>
        <p>携手开发以高端产品品质的全新商务配套，
          匠心成就成都CBD集群实力塔尖商务空间。</p>
        <div class="small-title">丰德集团</div>
        <p>以丰富经验为国际名企贴身打造优质商务空间
          成功开发丰德国际广场、丰德万瑞中心等诸多商务空间，共享商务成就。</p>
        <div class="small-title">中国成达</div>
        <p>隶属中国化学工程集团公司，创立于20世纪50年代。
          公司拥有雄厚的资金实力和丰富的投资经验，业务遍及全球多个国家和地区。</p>
      </div>
    </div>
  </div>
</div>