<!--
 * @Author: wjy-mac
 * @Date: 2020-03-23 23:42:37
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-04-09 22:16:44
 * @Description: 首页
 -->
<div class="home-box">
  <div class="img-item">
    <div class="item">
      <div class="box"
      [ngStyle.xs]="{'width.%': 100}"
      (click)="open('about')"
      >
        <img [ngStyle.sm]="{'marginRight.%': 1}"
        [ngStyle.xs]="{'marginRight.%': 0, 'width.%': 100}" src="../../../assets/bjimg/index_left.png" alt="">
        <div class="container-gq" [ngStyle.sm]="{'left.%': 50}">
          <div class="dot"></div>
          <div class="pulse"></div>
          <div class="pulse1"></div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="box"
      [ngStyle.xs]="{'width.%': 100}"
      (click)="open('aboutcd')"
      >
        <img [ngStyle.sm]="{'marginLeft.%': 1}"
        [ngStyle.xs]="{'marginRight.%': 0, 'width.%': 100}" src="../../../assets/bjimg/index_right.png" alt="">
        <div class="container-gq" [ngStyle.sm]="{'left.%': 50}">
          <div class="dot"></div>
          <div class="pulse"></div>
          <div class="pulse1"></div>
        </div>
      </div>
    </div>
  </div>
</div>