<!--
 * @Author: wjy-mac
 * @Date: 2020-03-23 23:42:37
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-03-24 16:39:45
 * @Description: 首页
 -->
<div class="home-box">
  <div class="img-item">
    <div class="item">
      <img [ngStyle.sm]="{'marginRight.%': 1}" src="../../../assets/bjimg/index_left.png" alt="">
      <div class="container-gq" [ngStyle.sm]="{'left.%': 50}">
        <div class="dot"></div>
        <div class="pulse"></div>
        <div class="pulse1"></div>
      </div>
    </div>
    <div class="item">
      <img [ngStyle.sm]="{'marginLeft.%': 1}" src="../../../assets/bjimg/index_left.png" alt="">
      <div class="container-gq" [ngStyle.sm]="{'left.%': 50}">
        <div class="dot"></div>
        <div class="pulse"></div>
        <div class="pulse1"></div>
      </div>
    </div>
  </div>
</div>