<!--
 * @Author: wjy-mac
 * @Date: 2020-03-23 23:42:37
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-03-24 00:35:41
 * @Description: 首页
 -->
<div class="home-box">
  <div class="img-item">
    <div class="item">
      <img src="../../../assets/bjimg/index_left.png" alt="">
      <div class="container-gq">
        <div class="dot"></div>
        <div class="pulse"></div>
        <div class="pulse1"></div>
      </div>
    </div>
    <div class="item">
      <img src="../../../assets/bjimg/index_right.png" alt="">
      <div class="container-gq">
        <div class="dot"></div>
        <div class="pulse"></div>
        <div class="pulse1"></div>
      </div>
    </div>
  </div>
</div>