.page-title-box {
  position: absolute;
  top: .3rem;
  left: .3rem;
  width: calc(100% - .3rem);
  z-index: 1000;
}
.hxabout-content {
  font-size: 0.1rem;
  color: #484747;
  line-height: 45px;
  position: relative;
  padding-top: 1px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat; 
  background-image: url(../../../assets/bjimg/hxzs2.jpg);
  height: 100%;
  p {
    text-indent: 2em;
  }
  .content-cd {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      position: absolute;
      top: 10%;
      left: 15%;
      font-size: 25px;
    }
  }
  .content-cd2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 120%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat; 
    background-image: url(../../../assets/bjimg/hxzs2.jpg);
    .title {
      position: absolute;
      top: 0.3rem;
      left: 0.3rem;
      font-size: 25px;
    }
    .qj-content {
      width: 50%;
    }
  }
  #thumbs {
    position: absolute;
    height: 70px;
    top: calc(100% - 70px);
    left: 0;
    padding: 6px 0;
    box-sizing: border-box;
    touch-action: none;
  }
  .swiper-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    top: 0;
    left: 0;
  }
  .title {
    font-size: .13rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
  }
  img {
    // width: 100%;
    // margin-top: 10px;
  }
}
// .swiper-img-wjy {
//   max-width: 100%;
//   max-height: 100%;
// }
.swiper-slide {
  background-color: #4a4a4a;
  // height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}