<!--
 * @Author: wjy-mac
 * @Date: 2020-03-31 12:57:10
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-04-10 13:03:19
 * @Description: file content
 -->
<div class="hxabout-content">
  <div class="page-title-box">
    <app-imgtitle [title]="'fdjt'"></app-imgtitle>
  </div>
  <app-right-button [name]="'返回'" (isclick)="setBack()"></app-right-button>
  <div class="content-cd">
    <div class="title" 
    [ngStyle.md]="{'top.px': 32, 'left.px': 170}" 
    [ngStyle.sm]="{'top.px': 9, 'left.px': 170, 'fontSize.px': 21}" 
    [ngStyle.xs]="{display: 'none'}">静态展示</div>
    <div class="swiper-container" #swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of imgsrc">
          <div class="swiper-zoom-container">
            <img class="swiper-img-wjy" [src]="item" alt="">
          </div>
        </div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div id="thumbs" #swiper2>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of imgsrc">
          <div class="swiper-zoom-container">
            <img class="swiper-img-wjy" [src]="item" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="content-cd2" [ngStyle.xs]="{'top.%': 100, 'marginTop.px': 0}">
    <div class="title">全景展示</div>
    <div class="qj-content" [ngStyle.xs]="{'width.%': 90}">
      <app-viewer></app-viewer>
    </div>
  </div> -->
</div>