<!--
 * @Author: wjy-mac
 * @Date: 2020-03-31 12:56:56
 * @LastEditors: wjy-mac
 * @LastEditTime: 2020-04-09 22:23:36
 * @Description: file content
 -->
 <div class="list-content">
  <div class="img-content">
    <div class="item" [routerLink]="['/hxabout/hxcontent']">
      <div class="img-box" >
        <div>
          <img src="../../assets/hx/hxnav.jpg" alt="">
        </div>
      </div>
      <!-- <div class="name">户型1</div>
      <div class="name1">户型1</div> -->
    </div>
    <div class="item" [routerLink]="['/hxabout/hxcontent']">
      <div class="img-box">
        <div>
          <img src="../../assets/lsimg/js_04.png" alt="">
        </div>
      </div>
      <!-- <div class="name">户型2</div>
      <div class="name1">户型2</div> -->
    </div>
    <div class="item" [routerLink]="['/hxabout/hxcontent']">
      <div class="img-box">
        <div>
          <img src="../../assets/lsimg/js_04.png" alt="">
        </div>
      </div>
      <!-- <div class="name">户型3</div>
      <div class="name1">户型3</div> -->
    </div>
  </div>
</div>